google_auth==1.23.0
google-cloud-core==1.4.3
chardet==3.0.3
docutils==0.15.2
m2r==0.2.1
pandas==1.0.3
requests==2.22.0
datetime==4.3
pymsteams==0.1.14
pymongo==3.9.0
six==1.13
google-cloud-storage==1.33.0
